<footer class="fixed-bottom px-5 py-2">
    <div class="row pt-3">
        <a href="https://github.com/maliabarker">
            <i class="fa-brands fa-github mx-3 h3"></i>
        </a>
        <a href="https://www.kaggle.com/maliabarker">
            <i class="fa-brands fa-kaggle mx-3 h3"></i>
        </a>
        <a href="https://www.linkedin.com/in/malia-barker-00b02621a/">
            <i class="fa-brands fa-linkedin mx-3 h3"></i>
        </a>
        <p class="ml-auto font-weight-light">Made with HTML, custom CSS, Javascript, Python, and Flask by Malia Barker</p>
    </div>
</footer>