{% extends 'base.html' %}

{% block title %} Malia Barker {% endblock %}
{% block head %} <link rel="stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles/astronaut.css') }}"> {% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 mt-5">
                <h3 id="about-title">My Passion and Drive</h3>
                <p> I am a data analyst, web developer, and student based in Northern California. <br>

                    I have a passion for astronomy and physics, publishing my first paper in astronomy at just 17 years old. <br>
                    
                    Even stronger than my passion for the sciences is my interest in expanding the intersectionality of physical sciences and technology. <br>
                    
                    I believe techonolgy is the new frontier, something everyone will know and use to drive research in all areas of study, especially in physics and astronomy. <br>
                    
                    I want to be at the forefront of this expanding world, which is why I am pursuing a bachelors in applied computer science with a concentration in data science at the Dominican University of California and an associates in physics. <br>
                    
                    I am a team player and love collaboration with new minds and perspectives. If you are interested in my work or ideas... <br>
                    
                    Contact me <br>
                    
                    And let's make something ground-breaking</p>
            </div>
            <div class="col-md-6 mt-5 pl-5">
                <div class="backg">
                    <div class="planet">
                        <div class="r1"></div>
                        <div class="r2"></div>
                        <div class="r3"></div>
                        <div class="r4"></div>
                        <div class="r5"></div>
                        <div class="r6"></div>
                        <div class="r7"></div>
                        <div class="r8"></div>
                        <div class="shad"></div>
                    </div>
                    <div class="stars">
                        <div class="s1"></div>
                        <div class="s2"></div>
                        <div class="s3"></div>
                        <div class="s4"></div>
                        <div class="s5"></div>
                        <div class="s6"></div>
                    </div>
                    <div class="an">
                        <div class="tank"></div>
                        <div class="astro">
                                
                            <div class="helmet">
                                <div class="glass">
                                    <div class="shine"></div>
                                </div>
                            </div>
                            <div class="dress">
                                <div class="c">
                                    <div class="btn1"></div>
                                    <div class="btn2"></div>
                                    <div class="btn3"></div>
                                    <div class="btn4"></div>
                                </div>
                            </div>
                            <div class="handl">
                                <div class="handl1">
                                    <div class="glovel">
                                        <div class="thumbl"></div>
                                        <div class="b2"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="handr">
                                <div class="handr1">
                                    <div class="glover">
                                        <div class="thumbr"></div>
                                        <div class="b1"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="legl">
                                <div class="bootl1">
                                    <div class="bootl2"></div>
                                </div>
                            </div>
                            <div class="legr">
                                <div class="bootr1">
                                    <div class="bootr2"></div>
                                </div>
                            </div>
                            <div class="pipe">
                                <div class="pipe2">
                                    <div class="pipe3"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'partials/footer.html' %}
{% endblock %}