{% extends 'base.html' %}
{% block title %} Malia Barker {% endblock %}
{% block head %}<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles/carousel.css') }}">{% endblock %}
{% block content %}
    <div class="container">
        <div class="slider-container">

            <div class="slider-content">
        
                <div class="slider-single">
                    <img class="slider-single-image" src="https://picsum.photos/id/973/200/300" alt="1" />
                    <h1 class="slider-single-title">Through the Mountains</h1>
                    <a class="slider-single-likes" href="javascript:void(0);">
                        <i class="fa fa-heart"></i>
                        <p>1,247</p>
                    </a>
                </div>
        
                <div class="slider-single">
                    <img class="slider-single-image" src="https://picsum.photos/id/974/200/300" alt="2" />
                    <h1 class="slider-single-title">Through the Mountains</h1>
                    <a class="slider-single-likes" href="javascript:void(0);">
                        <i class="fa fa-heart"></i>
                        <p>1,247</p>
                    </a>
                </div>
        
                <div class="slider-single">
                    <img class="slider-single-image" src="https://picsum.photos/id/975/200/300" alt="3" />
                    <h1 class="slider-single-title">Through the Mountains</h1>
                    <a class="slider-single-likes" href="javascript:void(0);">
                        <i class="fa fa-heart"></i>
                        <p>1,247</p>
                    </a>
                </div>
        
        
                <div class="slider-single">
                    <img class="slider-single-image" src="https://picsum.photos/id/976/200/300" alt="4" />
                    <h1 class="slider-single-title">Through the Mountains</h1>
                    <a class="slider-single-likes" href="javascript:void(0);">
                        <i class="fa fa-heart"></i>
                        <p>1,247</p>
                    </a>
                </div>
        
        
                <div class="slider-single">
                    <img class="slider-single-image" src="https://picsum.photos/id/977/200/300" alt="5" />
                    <h1 class="slider-single-title">Through the Mountains</h1>
                    <a class="slider-single-likes" href="javascript:void(0);">
                        <i class="fa fa-heart"></i>
                        <p>1,247</p>
                    </a>
                </div>
        
                <div class="slider-single">
                    <img class="slider-single-image" src="https://picsum.photos/id/978/200/300" alt="6" />
                    <h1 class="slider-single-title">Through the Mountains</h1>
                    <a class="slider-single-likes" href="javascript:void(0);">
                        <i class="fa fa-heart"></i>
                        <p>1,247</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <script src="{{url_for('static', filename='js/carousel.js')}}"></script>
    {% include 'partials/footer.html' %}
{% endblock %}